<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view" href="#">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="host" href="#">Host</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>